<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="indexlayout/default">

<th:block layout:fragment="content">
    <div class="container-fluid">

        <div class="container-fluid .border-left-secondary">
            <form th:action="@{/user/write/result/{type_nm}(type_nm=${type})}" method="post">
                <div class="form-group">
                    <label>제목</label>
                    <input type="text" class="form-control border-left-primary" th:name="title"
                           placeholder="제목을 입력하세요.">
                </div>
                <div class="form-group">
                    <label>작성자</label>
                    <input type="text" class="form-control border-left-secondary bg-gray-200"
                           th:placeholder="${#authentication.getName()}" disabled placeholder="">
                </div>
                <div class="form-group">
                    <label>내용</label>
                    <textarea class="form-control border-bottom-secondary" th:name="content" rows="20"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">작성</button>
            </form>
        </div>

    </div>
</th:block>
</html>