<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav style="text-align: center;">
    <!--표에 사용될 변수값 초기화 -->
    <ul class="pagination"
        th:with="start=${T(Math).floor(list.number/10)*10 + 1},
                    last=(${start + 9 < list.totalPages ? start + 9 : list.totalPages})">
        <th:block th:with="
                firstAddr=@{/board(page=1)},
                prevAddr=@{/board(page=${list.number})},
                nextAddr=@{/board(page=${list.number + 2})},
                lastAddr=@{/board(page=${list.totalPages})}">
            <li>
                <a th:href="${firstAddr}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <!-- 이전 페이지로 가기 버튼 -->
            <li th:class="${list.first} ? 'disabled'">
                <a th:href="${list.first} ? '#' :${prevAddr}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <!--1,2,3,4,.. 등 페이지-->
            <li th:each="page: ${#numbers.sequence(start, last)}"
                th:class="${page == list.number + 1} ? 'active'">
                <a th:text="${page}" th:href="@{/board(page=${page})}"></a>
            </li>
            <!--다음 페이지로 -->
            <li th:class="${list.last} ? 'disabled'">
                <a th:href="${list.last} ? '#' : ${nextAddr}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <!--맨 마지막 페이지로 이동 -->
            <li>
                <a th:href="${lastAddr}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </th:block>
    </ul>
</nav>